<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:sws="http://www.springframework.org/schema/web-services"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
							http://www.springframework.org/schema/web-services
							http://www.springframework.org/schema/web-services/web-services-2.0.xsd
							http://www.springframework.org/schema/context
							http://www.springframework.org/schema/context/spring-context-3.1.xsd">


    <context:component-scan base-package="com.oryx.remote.service.entry"/>
    <sws:annotation-driven/>

    <!-- HEALTH -->
    <bean id="HealthCheckService" class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition" lazy-init="true">
        <property name="schemaCollection">
            <bean class="org.springframework.xml.xsd.commons.CommonsXsdSchemaCollection">
                <property name="inline" value="true"/>
                <property name="xsds">
                    <list>
                        <value>schemas/model/enum.xsd</value>
                        <value>schemas/model/bu_health_model.xsd</value>
                        <value>schemas/model/operation.xsd</value>
                        <value>schemas/operation/crud/bu/health/CrudOperationHealthCheck.xsd</value>
                    </list>
                </property>
            </bean>
        </property>
        <property name="portTypeName" value="HealthCheckService"/>
        <property name="serviceName" value="HealthCheckServices"/>
        <property name="locationUri" value="/endpoint"/>
    </bean>

    <bean id="RdvService" class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition" lazy-init="true">
        <property name="schemaCollection">
            <bean class="org.springframework.xml.xsd.commons.CommonsXsdSchemaCollection">
                <property name="inline" value="true"/>
                <property name="xsds">
                    <list>
                        <value>schemas/model/enum.xsd</value>
                        <value>schemas/model/bu_health_model.xsd</value>
                        <value>schemas/model/operation.xsd</value>
                        <value>schemas/operation/crud/bu/health/CrudOperationRdv.xsd</value>
                    </list>
                </property>
            </bean>
        </property>
        <property name="portTypeName" value="RdvService"/>
        <property name="serviceName" value="RdvServices"/>
        <property name="locationUri" value="/endpoint"/>
    </bean>

    <bean id="PatientService" class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition" lazy-init="true">
        <property name="schemaCollection">
            <bean class="org.springframework.xml.xsd.commons.CommonsXsdSchemaCollection">
                <property name="inline" value="true"/>
                <property name="xsds">
                    <list>
                        <value>schemas/model/enum.xsd</value>
                        <value>schemas/model/bu_health_model.xsd</value>
                        <value>schemas/model/operation.xsd</value>
                        <value>schemas/operation/crud/bu/health/CrudOperationPatient.xsd</value>
                    </list>
                </property>
            </bean>
        </property>
        <property name="portTypeName" value="PatientService"/>
        <property name="serviceName" value="PatientServices"/>
        <property name="locationUri" value="/endpoint"/>
    </bean>

    <!-- VIEWS -->
    <bean id="PatientViewService" class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition" lazy-init="true">
        <property name="schemaCollection">
            <bean class="org.springframework.xml.xsd.commons.CommonsXsdSchemaCollection">
                <property name="inline" value="true"/>
                <property name="xsds">
                    <list>
                        <value>schemas/model/enum.xsd</value>
                        <value>schemas/model/system_ose_view.xsd</value>
                        <value>schemas/model/operation.xsd</value>
                        <value>schemas/operation/view/bu/health/ViewOperationPatientView.xsd</value>
                    </list>
                </property>
            </bean>
        </property>
        <property name="portTypeName" value="PatientViewService"/>
        <property name="serviceName" value="PatientViewServices"/>
        <property name="locationUri" value="/endpoint"/>
    </bean>
</beans>