<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table width="100%" height="100%">
    <tr height="100%">
        <td>
            <table align="center" cellspacing="10">
                <tr>
                    <td align="right">Person&nbsp;First Name:</td>
                    <td width="400">
                        <div location="firstName" id="firstName"></div>
                    </td>
                </tr>
                <tr>
                    <td align="right">Person&nbsp;lastName:</td>
                    <td width="400">
                        <div location="lastName" id="lastName"></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>