// Import all the mixins for this theme

@import "variables";
@import "addons.scss";
@import "dashboard";

.dashboard-valo-flat-dark {
  // Output the actual theme selectors
  @include addons;
  @include dashboard;
}