<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table width="100%" height="100%">
    <tr height="100%">
        <td>
            <table align="center" cellspacing="10">
                <tr>
                    <td>
                    <td align="right">User&nbsp;Code:</td>
                    <td width="400">
                        <div location="code" id="code"></div>
                    </td>
                    </td>
                    <td>
                    <td align="right">User&nbsp;Email:</td>
                    <td width="400">
                        <div location="email" id="email"></div>
                    </td>
                    </td>
                </tr>
                <tr>
                    <td align="right">User&nbsp;Login:</td>
                    <td width="400">
                        <div location="login" id="login"></div>
                    </td>
                </tr>
                <tr>
                    <td align="right">Password:</td>
                    <td width="400">
                        <div location="password" id="password"></div>
                    </td>
                </tr>
                <tr>
                    <td align="right">Person:</td>
                    <td width="400">
                        <div location="personId" id="personId"></div>
                    </td>
                    <td>
                        <div location="personIdBtn" id="personIdBtn"></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>