<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <fieldset>
        <legend>User details</legend>
        <table align="center" cellspacing="10">
            <tr>
                <td width="200">
                    <div location="userCode" id="userCode"></div>
                </td>

                <td width="200">
                    <div location="userLogin" id="userLogin"></div>
                </td>

                <td width="200">
                    <div location="userPassword" id="userPassword"></div>
                </td>
            </tr>
            <tr>
                <td width="200">
                    <div location="language" id="language"></div>
                </td>

                <td width="200">
                    <div location="role" id="role"></div>
                </td>

                <td width="200">
                    <div location="status" id="status"></div>
                </td>
            </tr>
            <tr>
                <td width="200">
                    <div location="startDate" id="startDate"></div>
                </td>

                <td width="200">
                    <div location="endDate" id="endDate"></div>
                </td>
            </tr>
        </table>
    </fieldset>
    </td>
    </tr>
    <tr height="100%">
        <td>
            <fieldset>
                <legend>Person details</legend>
                <table align="center" cellspacing="10">
                    <tr>
                        <td width="200">
                            <div location="firstName" id="firstName"></div>
                        </td>

                        <td width="200">
                            <div location="lastName" id="lastName"></div>
                        </td>

                        <td width="200">
                            <div location="defaultUid" id="defaultUid"></div>
                        </td>
                    </tr>

                    <tr>
                        <td width="200">
                            <div location="civility" id="civility"></div>
                        </td>

                        <td width="200">
                            <div location="gender" id="gender"></div>
                        </td>
                    </tr>
                    <tr>
                        <td width="200">
                            <div location="birthDate" id="birthDate"></div>
                        </td>

                        <td width="200">
                            <table align="center" cellspacing="0">
                                <tr>
                                    <td width="180">
                                        <div location="birthCityId" id="birthCityId"></div>
                                    </td>
                                    <td valign="bottom" width="20">
                                        <div location="birthCityIdBtn" id="birthCityIdBtn"></div>
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <td width="200">
                            <table align="center" cellspacing="0">
                                <tr>
                                    <td width="180">
                                        <div location="birthCountryId" id="birthCountryId"></div>
                                    </td>
                                    <td valign="bottom" width="20">
                                        <div location="birthCountryIdBtn" id="birthCountryIdBtn"></div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td width="200">
                            <div location="adressStreet" id="adressStreet"></div>
                        </td>

                        <td width="200">
                            <table align="center" cellspacing="0">
                                <tr>
                                    <td width="180">
                                        <div location="adressCityId" id="adressCityId"></div>
                                    </td>
                                    <td valign="bottom" width="20">
                                        <div location="adressCityIdBtn" id="adressCityIdBtn"></div>
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <td width="200">
                            <table align="center" cellspacing="0">
                                <tr>
                                    <td width="180">
                                        <div location="adressCountryId" id="adressCountryId"></div>
                                    </td>
                                    <td valign="bottom" width="20">
                                        <div location="adressCountryIdBtn" id="adressCountryIdBtn"></div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </td>
    </tr>
    <tr height="100%">
        <td>
            <fieldset>
                <legend>Contact details</legend>
                <table align="center" cellspacing="10">
                    <tr>
                        <td width="200">
                            <div location="email" id="email"></div>
                        </td>

                        <td width="200">
                            <div location="phoneNumber1" id="phoneNumber1"></div>
                        </td>

                        <td width="200">
                            <div location="phoneNumber2" id="phoneNumber2"></div>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </td>
    </tr>
</form>
</body>
</html>